<div class="flexDeNavegador">
    <h1 class="logoPagina">
        <a href="/loged" class="main-header_home-link">
            <img src="/images/logo-mercado-liebre.png">
    </h1>
    <div class="flexDeNavegadorChico" id="">
        <form class="" action="/productos/search-results">
            <input class="" type="search" placeholder="Buscar productos marcas y más.." aria-label="Search">
            <button class="" type="submit">Search</button>
        </form>
        <ul class="linksNav" type="none">
            <li>
                <a class="logoUsuario" aria-current="page" href="/usuario">
                    <span class="material-icons">&#Xe7ff;</span>: <%= usuario.usuario %>
                </a>
            </li>
            <li>
                <a class="logoUsuario" aria-current="page" href="/usuario/profile-edit">
                    <span class="material-icons">&#Xe3c9;</span>EDITAR PERFIL
                </a>
            </li>
            
        </ul>
        <ul class="linksNav" type="none">
            <li>
                <a class="logoUsuario" aria-current="page" href="/products">
                    <span class="material-icons">&#Xe1a1;</span>TODOS LOS PRODUCTOS
                </a>
            </li> 
            <li>
                <a class="logoUsuario" aria-current="page" href="/products/product-add">
                    <span class="material-icons">&#Xe147;</span>AGREGAR PRODUCTOS
                </a>
            </li>              
            
        </ul>
        <ul class="linksNav" type="none">
            <li>
                <a class="logoUsuario" aria-current="page" href="/">
                    <span class="material-icons">&#Xe9ba;</span>CERRAR SESIÓN
                </a>
            </li>         
            
        </ul>

    </div>
</div>