<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<!-- Head -->
<%- include('parciales/head') %>
	<!-- Head -->

	<body class="log">
		<!-- Header -->
		<%- include('parciales/header') %>
		<!-- /Header -->

		<!-- Novedades -->
		<div class="container products-wrapper">
			<div class="row">
				<section class="caja-ingresar">
					<article class="ingresar">
						<h1 class="products-title"> <i class="fas fa-sign-in-alt"></i>    Ingresar    <i class="fas fa-sign-in-alt"></i></h1>

						<!-- Show the "ultimos" products -->
						<h2 class="col-12">
							<form action="/users" method="get" class="login-form">
								<article class="usuario">
									<label for="usuario">Usuario:</label>
									<input type="email" name="email">
								</article>

								<article class="contraseña">
									<label for="password">Contraseña:</label>
									<input type="password" name="password">
								</article>

								<article class="checkbox">
									<label for="recordar">Recordar usuario </label>
									<input type="checkbox">
								</article>

								<article class="enviar">
									<input class="form-input " type="submit" value="Log in">
								</article>

							</form>
						</h2>
					</article>
				</section>



				<!-- footer -->
				<%- include('parciales/footer') %> 
				<!-- /footer -->
	</body>

</html>