<!DOCTYPE html>
<html lang="es">
<!-- Head -->
<%- include('parciales/head') %>
	<!-- Head -->

	<body class="p-add">
		<!-- Header -->
		<%- include('parciales/headerLog') %>
		<!-- /Header -->

		<!-- Novedades -->
		<section class="product-add">
			<form action="/index" method="post" name="form-register" enctype="multipart/form-data">
				<label class="form-label" for="image">Imagen:</label>
				<input class="form-input" type="file" name="image" value="">
			
				<label class="form-label" for="model">Modelo:</label>
				<input class="form-input" type="text" name="model" value="">
							
				<label class="form-label" for="size">Talle:</label>
				<input class="form-input" type="text" name="size" value="">

				<label class="form-label" for="year">Anio:</label>
				<input class="form-input" type="text" name="year" value="">

				<label class="form-label" for="color">Color:</label>
				<input class="form-input" type="text" name="color" value="">

				<label class="form-label" for="brand">Marca:</label>
				<input class="form-input" type="text" name="brand" value="">

				<button class="form-input" type="submit">Agregar</button>
			</form>
		</section>


		<!-- footer -->
		<%- include('parciales/footer') %> 
		<!-- /footer -->
	</body>

</html>