<!DOCTYPE html>
<html lang="es">
<!-- Head -->
<%- include('parciales/head') %>
	<!-- Head -->

	<body class="p-add">
		<!-- Header -->
		<%- include('parciales/header') %>
		<!-- /Header -->

		<!-- Novedades -->
		<section class="product-add">
			<form action="/usuario" method="get" name="form-register">
				<input class="form-input" type="text" name="Nombre del productos" placeholder="Nombre del producto:">
				<input class="form-input" type="text" name="Descripcion" placeholder="Descripcion:">
				<input class="form-input" type="date" name="Fecha" placeholder="Ingrese una fecha:">
				<input class="form-input" type="file" name="Imagen" placeholder="Ingrese imagen de producto:"
					value="Ingrese Imagen">
				<a class="btn mt-3 ml-4" href="/">POSTEAR</a>
			</form>
		</section>


		<!-- footer -->
		<%- include('parciales/footer') %> 
		<!-- /footer -->
	</body>

</html>