<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<!-- Head -->
<%- include('./parciales/head') %>
	<!-- Head -->

	<body class="reg">
		<!-- Header -->
		<header class="main-header">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-5 col-md-2">
						<a href="/" class="main-header_home-link">
							<img src="../images/logo-mercado-liebre.png">
						</a>
					</div>

					<div class="col-7 col-md-6">
						<form action="search-results.ejs" method="GET" class="search-form">
							<input type="text" name="search" placeholder="Buscar productos, marcas y más"
								class="search-form_input">
							<button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
						</form>
					</div>

					<div class="col-12 col-md-4">
						<a class="main-header_credit-link">
							<i class="fas fa-hand-holding-usd"></i>
							Todas las opiniones en un solo lugar.
						</a>
					</div>
				</div>

				<button class="btn-toggle-navbar">
					<i class="fas fa-bars"></i>
				</button>

				<nav class="main-navbar">
					<ul class="left-navbar">
						<li><a href="/">Todos los productos</a></li>
						<!-- solo logueado <li><a href="">Cargar productos</a></li> -->
					</ul>

					<ul class="right-navbar">
						<!-- Solo logueado <li><a href="profile.html">
								Nombre del usuario <i class="fas fa-user"></i>
							</a>
						</li>
						<li>
							<form action="" method="post">
								<button class="logout" type="submit">
									Cerrar sesión <i class="fas fa-sign-in-alt"></i>
								</button>
							</form>
						</li> -->
						<li>
							<a href="/users/register">Creá tu cuenta <i class="far fa-address-card"></i>
							</a>
						</li>
						<li>
							<a href="/users/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
						</li>
					</ul>
				</nav>
			</div>
		</header>
		<!-- /Header -->

		<!-- Novedades -->
		<div class="container products-wrapper">
			<div class="row">
				<section class="caja-registro">
					<section class="registro">
						<h2 class="products-title"><i class="far fa-address-card"></i>     Registrate     <i class="far fa-address-card"></i></h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
				<form class="register-form" action="register.ejs" method="get">
					<article class="email">
						<label for="email">Email:</label>
						<input type="email" name="email">
					</article>

					<article class="usuario">
						<label for="usuario">Nombre de usuario:</label>
						<input type="text" name="text">
					</article>

					<article class="contraseña">
						<label for="contraseña">Contraseña:</label>
						<input type="password">

					</article>

					<article class="nacimiento">
						<label for="fecha">Fecha de nacimiento:</label>
						<input type="number">
					</article>

					<article class="documento">
						<label for="documento">Numero de documento:</label>
						<input type="number">

					</article>

					<article class="foto">
						<label for="foto">Foto de perfil:</label> <input
							accept="image/jpg, image/jpeg, image/png, image/webp, image/JPG, image/JPEG, image/PNG, image/WEBP"
							type="file" multiple="" autocomplete="off">
					</article>

					<article class="enviar">
							<input class="form-input " type="submit" value="Enviar">
						</article>


				</form>
				</section>
			</h2>


			<!-- footer -->
			<footer class="main-footer">
				<div class="container">
					<div class="row">
						<div class="col-12 col-lg-4">
							<article class="footer-data">
								<i class="fas fa-credit-card"></i>
								<h2>Pagá con tarjeta o en efectivo</h2>
								<p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de
									pago.
									¡Y
									siempre es seguro!</p>
							</article>
						</div>
						<div class="col-12 col-lg-4">
							<article class="footer-data">
								<i class="fas fa-gift"></i>
								<h2>Envío gratis desde $ 1.999</h2>
								<p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de
									productos. Es un
									beneficio de Mercado Puntos.</p>
							</article>
						</div>
						<div class="col-12 col-lg-4">
							<article class="footer-data">
								<i class="fas fa-user-shield"></i>
								<h2>Seguridad, de principio a fin</h2>
								<p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque
									estás
									siempre protegido.</p>
							</article>
						</div>
					</div>
				</div>
			</footer>
			<!-- /footer -->
	</body>

</html>