<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<!-- Head -->
<%- include('parciales/head') %>
	<!-- Head -->

	<body class="reg">
		<!-- Header -->
		<%- include('parciales/header') %>
		<!-- /Header -->

		<main>

    
			<% if(locals.erroresLogin){ %>
			  <p class="mensajeError" style="color: red;"> <%= erroresLogin.message %>
			  </p>
		  <% } %>
		
		
			<section class="login-section">
				<form class="login-form" action="/users/register" method="POST">
					<article class="title"><i class="fas fa-sign-in-alt"></i>  Registrate  <i class="fas fa-sign-in-alt"></i></article>
					<article class="article-login">
					  <input id="place-holder" class="input" type="text" name="name" placeholder="Nombre" />
				  </article>
					<article class="article-login">
						<input id="place-holder" class="input" type="email" name="email" placeholder="Correo" />
					</article>
		
					<article class="article-login">
						<input id="place-holder" class="input" type="password" name="password" placeholder="Clave" />
					</article>
		
					<article class="article-login">
					  <input id="place-holder" class="input" type="file" name="imgPerfil"/>
					</article>
					<button type="place-holder" class="submit">Enviar</button>
				  </form>
		
			  </section>
		
		
			</section>
		  </main>
		


			<!-- footer -->
			<%- include('parciales/footer') %> 
			<!-- /footer -->
	</body>

</html>