<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<!-- Head -->
<%- include('parciales/head') %>
	<!-- Head -->

	<body class="reg">
		<!-- Header -->
		<%- include('parciales/header') %>
		<!-- /Header -->

		<!-- Novedades -->
		<div class="container products-wrapper">
			<div class="row">
				<section class="caja-registro">
					<section class="registro">
						<h2 class="products-title"> <i class="far fa-address-card"></i>     Registrate     <i class="far fa-address-card"></i></h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
				<form class="register-form" action="/users">
					<article class="email">
						<label for="email">Email:</label>
						<input type="email" name="email">
					</article>

					<article class="usuario">
						<label for="usuario">Nombre de usuario:</label>
						<input type="text" name="text">
					</article>

					<article class="contraseña">
						<label for="contraseña">Contraseña:</label>
						<input type="password">

					</article>

					<article class="nacimiento">
						<label for="fecha">Fecha de nacimiento:</label>
						<input type="date">
					</article>

					<article class="documento">
						<label for="documento">Numero de documento:</label>
						<input type="number">

					</article>

					<article class="foto">
						<label for="foto">Foto de perfil:</label> <input
							accept="image/jpg, image/jpeg, image/png, image/webp, image/JPG, image/JPEG, image/PNG, image/WEBP"
							type="file" multiple="" autocomplete="off">
					</article>

					<article class="enviar">
							<input class="form-input " type="submit" value="Enviar">
						</article>


				</form>
				</section>
			</h2>


			<!-- footer -->
			<%- include('parciales/footer') %> 
			<!-- /footer -->
	</body>

</html>