<!DOCTYPE html>
<html lang="es">
<!-- Head -->
<%- include('./parciales/head') %>
<!-- Head -->

<body>
	<!-- Header -->
	<%- include('./parciales/headerLog') %>
	<!-- /Header -->

	<!-- Novedades -->
	<h1>Buscador</h1>


	<!-- footer -->
	<%- include('./parciales/footer') %>
	<!-- /footer -->
</body>

</html>